.flex-avatar-and-buttons{
  // margin-left: 50%;
}

.expertise-icon {
  color: $brandgold;
}

.expertise-p {
  color: $brandgold;
  font-weight: bold;
}

.purple-background {
  background-color: #4056A1;
  margin-bottom: -15%;
}

.details {
  color: white;
}

.main-grid {
  margin-bottom: 5%;
}

.full-page {
  min-height: calc(100vh - 50px);
  margin-bottom: -50px;
}