.expertise-icon {
  color: $brandgold;
}

.expertise-p {
  color: $brandgold;
  font-weight: bold;
}

.purple-background {
  background-color: #4056A1;
  margin-bottom: 0;
}

.details {
  color: white;
}

.main-grid {
  margin-bottom: 5%;
}

@include media-breakpoint-up(sm) {
  .purple-background {
    margin-bottom: -15%;
  }
  .main-grid {
    margin-bottom: 4px;
  }
}

@include media-breakpoint-down(sm) {
  .details {
    width: 75vw !important;
    margin: auto !important;
    padding: 0 !important;
  }
}

.full-page {
  min-height: calc(100vh - 50px);
  margin-bottom: -50px;
}