<div class="container-fluid px-0 mx-0">
  <div class="intro text-center">
    <h2>Here are a few websites and projects that I have worked on:</h1>
  </div>
  <div class="portfolio-site text-center">
    <a href="https://johnscrazysocks.com/pages/johns-crazy-socks-in-the-media" target="_blank"><%= cl_image_tag("https://res.cloudinary.com/pxcronin/image/upload/v1619551147/JCS_logo_pquxps.png") %></a>
    <p>I've worked with John's Crazy Socks, a million dollar sock business run on Shopify. I have designed, built, and updated several pages for them including their <a href="https://johnscrazysocks.com/pages/johns-crazy-socks-in-the-media" target="_blank">In The Media</a> and <a href="https://johnscrazysocks.com/pages/shipping" target="_blank">Shipping</a> pages.</p>
  </div>
  <div class="portfolio-site text-center">
    <a href="https://www.patrickmusic.us/" target="_blank"><%=cl_image_tag('https://res.cloudinary.com/pxcronin/image/upload/v1619643717/Patrick-Music-Logo_pznn09.png', width:280)%></a>
    <p>Patrick Music is a site I created to document and share new music that I’m listening to and have people submit suggestions for what I should listen to next via Spotify.</p>
  </div>
  <div class="portfolio-site text-center">
    <a href="http://www.counterargument.ca/" target="_blank"><%=cl_image_tag('https://res.cloudinary.com/pxcronin/image/upload/v1619637659/Counter-Argument-Logo_nzyufk.png', width:280)%></a>
    <p>CounterArgument was a site I created with three other developers during my bootcamp with Le Wagon. CounterArgument is a demo site that lets users post short statements that they want to crowdsource counters to or provide counters to short statements posted by others.</p>
  </div>
</div>