.navbar {
  background-color: rgba($color: #ffffff, $alpha: 0) !important;
}

.navbar-brand {
  color: $brandblue !important;
  font-family: $body-font;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}